:root {
  --header-color: #ffffff;
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*-------------header-----------*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
}

.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.header-link {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.link-item:not(:last-child) {
  margin-right: 50px;
}

.web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-title-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}

.menu-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}

.menu-studio.current {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}

.menu-studio:hover,
.menu-studio:focus {
  color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*--------------hero-----------------*/

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: var(--header-color);
  background-color: var(--accent-color);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-color);
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.overlay {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero-img-1.jpg);
  height: 600px;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title-section {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;
}

/*---------advantages-----------*/

.title-third {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.title-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.advantages-list {
  display: flex;
}

.advantages-item-size {
  width: 270px;
  height: 101px;
}

.section-a {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-b {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-c {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.section-d {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-rect {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.activity-list {
  display: flex;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

.title-activity {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.img-team {
  display: block;
  width: max 100%;
}

.team-title {
  margin-bottom: 50px;
}
.team-item {
  text-align: center;
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  margin-top: 50px;
  background-color: var(--header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-icon {
  fill: #afb1b8;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--header-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--header-color);
}

/*-------------clients--------------------*/
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-title {
  margin-bottom: 50px;
}
.client-item {
  height: 92px;
  flex-basis: calc((100% - 6 * 30px) / 6);
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--header-color);
}

.client-icon {
  fill: #afb1b8;
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

/*-------------footer---------------------*/

.studio-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--header-color);
}

.footer {
  background-color: var(--background-color);
}

.adress {
  font-style: normal;
}

.adress-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.footer-tel,
.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.adress-item:hover,
.adress-item:focus {
  color: var(--accent-color);
}

.header-logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0px;
}

.footer-list {
  margin-bottom: 9px;
}

.join {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 20px;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
}

.social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-social-icon {
  fill: var(--header-color);
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  color: var(--header-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: var(--header-color);
}

.social-container {
  display: flex;
  align-items: baseline;
}

.footer-join {
  margin-left: 70px;
}

/*-----------------portfolio-------------------------*/

.line-bottom {
  border-bottom: 1px solid #ececec;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  cursor: pointer;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}

.portfolio-btn:focus,
.portfolio-btn:hover {
  background-color: var(--accent-color);
  color: var(--header-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 4px;
}

.text-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.menu-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}

.menu-portfolio.current {
  color: var(--accent-color);
}

.menu-portfolio:hover,
focus {
  color: var(--accent-color);
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-item {
  flex-basis: calc((100% - 9 * 30px) / 9);
  margin-left: 30px;
  margin-top: 30px;
}

.text-notice {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-top: none;
  border: 1px solid #eeeeee;
}

.img-card {
  vertical-align: bottom;
}
